img{
    
    width: 70%;
    height: 70%;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;

}

body{
    text-align: center;
    background-color: bisque;
}

button{
    height: 40px;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
}

button:hover{
    color: aliceblue;
    background-color: black;
}

p {
    font-size: 19px;
}

footer {
    color: aliceblue;
    background-color: gray;
    
}

#linkedin {
    color: aliceblue;
    background-color: gray ;
}
